<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @comparison.user %>
</p>

<p>
  <b>Product:</b>
  <%= @comparison.product_id %>
</p>


<%= link_to 'Edit', edit_comparison_path(@comparison) %> |
<%= link_to 'Back', comparisons_path %>
