<p id="notice"><%= notice %></p>
<div class = "span6 offset3 well" align = "center">
<p>
  <b>Screenname:</b>
  <%= @user.screenname %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>




<%= link_to 'View Products', categories_path %> 
</div>
<br>
<div class = "span6 offset3 well" >
    <h5><u> My Wishlist</u> </h5>
    <ul>
        <% if @product %>
            <% @product.each do |product| %>
            <% name = product.pluck(:name) %>
            <% id = product.pluck(:id) %>
            <% id = id[0].to_i %>
    
            <li><%= link_to "#{name[0]}", product_path(id) %>
                <% uniq_tg = Myitem.where(:product_id => id, :user_id => @user.id) %>
                <% if (uniq_tg.size == 0) %>
                <%= link_to "--add to items", user_myitems_path(@user.id, :product_id => id), :method => :post %>
                <% end %>
                </li>
            <% end %>
        <% else %>
            <p> you have no items in wishlist </p>
            <p><%= link_to "click here to get started", categories_path %>
        <% end %>
    </ul>
</div>

<div class = "span6 offset3 well">
    <h5> My Items </h5>
    <ul>
         <% if @itep %>
            <% m = 0 %>
            <% @itep.each do |product| %>
            <% name = product.pluck(:name) %>
            <% idt = product.pluck(:id) %>
            <% idt = idt[0].to_i %>
            
             <li><p><%= link_to "#{name[0]}", user_myitem_path(@user.id, :id => @ritep[m]) %>
            [ 
                <%= link_to "--Edit item", edit_user_myitem_path(@user.id, :id => @ritep[m]) %>
            
            
            
            ]</p></li> 
            
                <% m += 1 %>
            <% end %>
        <% else %>
            <p> you have no items </p>
            <p><%= link_to "click here to get started", categories_path %>
        <% end %></ul>

</div>

<div class = "span6 offset3 well">
    <%= link_to "Create new Collection", new_user_collection_path(@user.id) %>
    <br><br>
    <h5>My Collections </h5>
    <% if @collection %>
    <ul>
        <% @collection.each do |collection| %>
           <li> <%= link_to collection.name, user_collection_path(@user.id, collection.id) %></li>
        <% end %>
        </ul>
    <% end %>
    
</div>
