<%= form_for([@user, Myitem.new], :class => "span6 well") do |f| %>
 
  
  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :purchase_proof %><br />
    <%= f.text_area :purchase_proof %>
  </div>
  <div class="field">
    <%= f.label :current_value %><br />
    <%= f.text_field :current_value %>
  </div>
  <div class="field">
    <%= f.label :purchase_date %><br />
    <%= f.text_field :purchase_date %>
  </div>
  <div class="field">
    <%= f.label :location_of_manual %><br />
    <%= f.text_area :location_of_manual %>
  </div>
  <div class="field">
    <%= f.label :resale_value %><br />
    <%= f.text_field :resale_value %>
  </div>
  <div class="field">
    <%= f.label :rental_value %><br />
    <%= f.text_field :rental_value %>
  </div>
  <div class="field">
    <%= f.label :repair_locations %><br />
    <%= f.text_area :repair_locations %>
  </div>
  <div class="field">
    <%= f.label :item_recall %><br />
    <%= f.check_box :item_recall %>
  </div>
  <div class="field">
    <%= f.label :extra_notes %><br />
    <%= f.text_area :extra_notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
