<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @myitem.user %>
</p>

<p>
  <b>Collection:</b>
  <%= @myitem.collection %>
</p>

<p>
  <b>Product:</b>
  <%= @myitem.product_id %>
</p>

<p>
  <b>Price:</b>
  <%= @myitem.price %>
</p>

<p>
  <b>Purchase proof:</b>
  <%= @myitem.purchase_proof %>
</p>

<p>
  <b>Current value:</b>
  <%= @myitem.current_value %>
</p>

<p>
  <b>Purchase date:</b>
  <%= @myitem.purchase_date %>
</p>

<p>
  <b>Location of manual:</b>
  <%= @myitem.location_of_manual %>
</p>

<p>
  <b>Resale value:</b>
  <%= @myitem.resale_value %>
</p>

<p>
  <b>Rental value:</b>
  <%= @myitem.rental_value %>
</p>

<p>
  <b>Repair locations:</b>
  <%= @myitem.repair_locations %>
</p>

<p>
  <b>Item recall:</b>
  <%= @myitem.item_recall %>
</p>

<p>
  <b>Extra notes:</b>
  <%= @myitem.extra_notes %>
</p>


