
<div class = "span6 well offset3">
<%= link_to 'Manufacturer Sign Up', new_manufacturer_path %><br>
<%= link_to 'Retailer Sign Up', new_retailer_path %>
</div>
<div class = "span6 well offset3">
<%= link_to 'Regular Sign in', signin_path %><br>
<%= link_to 'Manufacturer Sign in', msignin_path %><br>
<%= link_to 'Retailer Sign in', rsignin_path %>
</div>