<p id="notice"><%= notice %></p>
<h1>Viewing all products</h1>


 <% @products.each do |product| %>
 
    <p><%= product.name %></p>
    <p><%= link_to image_tag(product.photo.url(:small)), product %>

        <% if !current_user.admin.nil? %>
            [<%= link_to "Delete Item", product, :method => :delete, data: { confirm: 'Are you sure?' } %>]
        <% end %>
        <!--<% if current_user %>
        <%= link_to "Add to wishlist", user_wishitems_path(@user.id, :product_id => product.id), :method => :post %>
        <% end %>-->
    </p>
    
     <br><br>
<% end %>

<br />

