<p id="notice"><%= notice %></p>

<p>
  
<%= image_tag @product.photo.url(:small) %> 
<% uniq_tg = Wishitem.where(:product_id => @product.id, :user_id => @user.id) %>
<% if (uniq_tg.size == 0) %>
    <%= link_to "Add to wishlist", user_wishitems_path(@user.id, :product_id => @product.id), :method => :post %>
<% else %>
    <%= "Item is present in wish list" %>
<% end %>
</p>
<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
<b>Category:</b>
<%= @product.category %>
</p>

<p>
  <b>Brand:</b>
  <%= @product.brand %>
</p>

<p>
  <b>Manufacturer link:</b>
  <%= @product.manufacturer_link %>
</p>

<p>
  <b>Dimensions:</b>
  <%= @product.dimensions %>
</p>

<p>
  <b>Weight:</b>
  <%= @product.weight %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Keywords:</b>
  <%= @product.keywords %>
</p>


